[Desktop Entry]
Name=Cava
Comment=A terminal-based audio visualizer
Exec=/usr/bin/ghostty -e cava %u
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Visualization;
Icon=utilities-terminal
StartupNotify=false
