[Desktop Entry]
Name=PCSX2
Exec=/opt/pcsx2/pcsx2.AppImage
Icon=/opt/pcsx2/pcsx2.svg
Comment=PlayStation 2 Emulator
Terminal=false
Type=Application
Categories=Game;Emulator;
