[Desktop Entry]
Encoding=UTF-8
Name=Steam (gamescope)
Comment=Launch Steam within gamescope
Exec=env GAMESCOPE_SESSION_MODE=nested /usr/bin/gamescope-session
Type=Application
Icon=steam
Terminal=false
Categories=Game;
