// Primary (DP-1)
workspace "op1" { open-on-output "DP-1"; }
workspace "op2" { open-on-output "DP-1"; }
workspace "op3" { open-on-output "DP-1"; }
workspace "lab"   { open-on-output "DP-1"; }
workspace "sim"   { open-on-output "DP-1"; }

// Secondary (DP-2)
workspace "net" {
    open-on-output "DP-2";
    layout {
        default-column-width  { proportion 1.0; }
        preset-column-widths  { proportion 0.5; proportion 1.0; }
        preset-window-heights { proportion 0.05; proportion 0.5; proportion 1.0; }
    }
}
workspace "dai" {
    open-on-output "DP-2";
    layout {
        default-column-width  { proportion 1.0; }
        preset-column-widths  { proportion 0.5; proportion 1.0; }
        preset-window-heights { proportion 0.05; proportion 0.5; proportion 1.0; }
    }
}
workspace "sys" {
    open-on-output "DP-2";
    layout {
        default-column-width  { proportion 1.0; }
        preset-column-widths  { proportion 0.5; proportion 1.0; }
        preset-window-heights { proportion 0.05; proportion 0.5; proportion 1.0; }
    }
}
workspace "doc" {
    open-on-output "DP-2";
    layout {
        default-column-width  { proportion 1.0; }
        preset-column-widths  { proportion 0.5; proportion 1.0; }
        preset-window-heights { proportion 0.05; proportion 0.5; proportion 1.0; }
    }
}
