/** @format */

/* #region Modules */

.modules-left {
    margin-left: 10px;
}

.modules-center {
    margin: 0;
}

.modules-right {
    margin-right: 10px;
}
/* #endregion */

/* #region General */

* {
    font-family: FiraCode Nerd Font;
    font-style: normal; /* normal | oblique | italic */
    font-weight: 700;
    font-size: 12px;
    border-radius: 0;
}

button, button:hover {
    border: none;
    background: transparent;
}
/* #endregion */

/* #region Font color */

#clock,
#tray,
#workspaces,
#custom-apps,
#taskbar,
#systray {
    color: @bgt_red;
}

#window{
    color: @nm_green;
}
/* #endregion */

/* #region Custom apps */

#custom-apps {
    color: @bgt_red;
    text-shadow: 0px 0px 5px @bgt_red;
}
/* #endregion */

/* #region Taskbar */

#taskbar {
    padding-left: 15px;
    padding-right: 5px;
}

#taskbar button {
    margin-left: 5px;
    background-color: transparent;
    border-bottom: 2px solid @bgt_red;
    transition: all 0.3s ease-in-out;
}

#taskbar button.active {
    border-bottom: 2px solid @nm_blue;
}

#taskbar.empty {
    background-color: transparent;
}

#taskbar button:hover {
    background-color: blue;
}
/* #endregion */

/* #region Current window */

window#waybar {
    background-color: @background;
    transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
    background-color: transparent;
}

window#waybar.hidden #window {
    background-color: transparent;
}
/* #endregion */

/* #region Workspaces */

#workspaces button {
    color: @bgt_red;
    background-color: transparent;
    border-bottom: 2px solid @bgt_red;
    box-shadow: 0px -10px 3px -10px @bgt_red inset;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @nm_blue;
    text-shadow: 0px 0px 5px @nm_blue;
    border-bottom: 2px solid @nm_blue;
    box-shadow: 0px -10px 5px -10px @nm_blue inset;
    min-width: 35px;
}

#workspaces button:hover {
    color: @nm_blue;
    text-shadow: 0px 0px 5px @nm_blue;
}

#workspaces button.urgent {
    color: @bgt_yellow;
    text-shadow: 0px 0px 5px @bgt_yellow;
}
/* #endregion */

/* #region Custom */

#custom-logout, #wireplumber {
    color: @bgt_white;
    padding-top: 2px;
    font-size: 14px;
    padding-left: 2px;
}
/* #endregion */

/* #region Tray */

#tray menu {
    background-color: @background;
    color: @bgt_red;
    border: 1px solid @bgt_red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    border-bottom: 2px solid @bgt_red;
}
/* #endregion */

/* #region Clock */

#clock {
    margin-top: 2px;
    margin-left: 5px;
    color: @nm_blue;
    text-shadow: 0px 0px 5px @nm_blue;
}
/* #endregion */
